USE [master]
GO
/****** Object:  Database [KeeperPRO]    Script Date: 15.04.2026 13:27:19 ******/
CREATE DATABASE [KeeperPRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KeeperPRO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\KeeperPRO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KeeperPRO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\KeeperPRO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KeeperPRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KeeperPRO]
GO
/****** Object:  Table [dbo].[attachments]    Script Date: 15.04.2026 13:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attachments](
	[attachment_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[visitor_id] [int] NULL,
	[file_path] [varchar](500) NOT NULL,
	[file_type] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[attachment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 15.04.2026 13:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 15.04.2026 13:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [varchar](100) NOT NULL,
	[first_name] [varchar](100) NOT NULL,
	[middle_name] [varchar](100) NULL,
	[department_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15.04.2026 13:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[registration_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visitorrequestlink]    Script Date: 15.04.2026 13:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitorrequestlink](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[visitor_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visitors]    Script Date: 15.04.2026 13:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitors](
	[visitor_id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [varchar](100) NOT NULL,
	[first_name] [varchar](100) NOT NULL,
	[middle_name] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](255) NULL,
	[organization] [varchar](255) NULL,
	[birth_date] [date] NOT NULL,
	[passport_series] [varchar](4) NOT NULL,
	[passport_number] [varchar](6) NOT NULL,
	[photo_path] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[visitor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visitrequests]    Script Date: 15.04.2026 13:27:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitrequests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [varchar](20) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[purpose] [varchar](max) NOT NULL,
	[department_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
	[status] [varchar](50) NULL,
	[rejection_reason] [varchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([department_id], [name]) VALUES (1, N'Отдел информационной безопасности')
INSERT [dbo].[departments] ([department_id], [name]) VALUES (2, N'Лаборатория SCADA-систем')
INSERT [dbo].[departments] ([department_id], [name]) VALUES (3, N'Административный отдел')
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([employee_id], [last_name], [first_name], [middle_name], [department_id]) VALUES (1, N'Иванов', N'Сергей', N'Петрович', 1)
INSERT [dbo].[employees] ([employee_id], [last_name], [first_name], [middle_name], [department_id]) VALUES (2, N'Петрова', N'Анна', N'Сергеевна', 2)
INSERT [dbo].[employees] ([employee_id], [last_name], [first_name], [middle_name], [department_id]) VALUES (3, N'Сидоров', N'Алексей', N'Владимирович', 3)
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [email], [password_hash], [registration_date]) VALUES (1, N'guest1@example.com', N'5f4dcc3b5aa765d61d8327deb882cf99', CAST(N'2026-04-15T13:25:49.100' AS DateTime))
INSERT [dbo].[users] ([user_id], [email], [password_hash], [registration_date]) VALUES (2, N'guest2@example.com', N'e99a18c428cb38d5f260853678922e03', CAST(N'2026-04-15T13:25:49.100' AS DateTime))
INSERT [dbo].[users] ([user_id], [email], [password_hash], [registration_date]) VALUES (3, N'visitor@example.com', N'25d55ad283aa400af464c76d713c07ad', CAST(N'2026-04-15T13:25:49.100' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[visitorrequestlink] ON 

INSERT [dbo].[visitorrequestlink] ([id], [request_id], [visitor_id]) VALUES (1, 2, 1)
INSERT [dbo].[visitorrequestlink] ([id], [request_id], [visitor_id]) VALUES (2, 2, 2)
INSERT [dbo].[visitorrequestlink] ([id], [request_id], [visitor_id]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[visitorrequestlink] OFF
GO
SET IDENTITY_INSERT [dbo].[visitors] ON 

INSERT [dbo].[visitors] ([visitor_id], [last_name], [first_name], [middle_name], [phone], [email], [organization], [birth_date], [passport_series], [passport_number], [photo_path]) VALUES (1, N'Кузнецов', N'Дмитрий', N'Алексеевич', N'+7 (999) 123-45-67', N'dmitry@example.com', N'ООО "ТехноСервис"', CAST(N'1990-05-15' AS Date), N'4512', N'345678', NULL)
INSERT [dbo].[visitors] ([visitor_id], [last_name], [first_name], [middle_name], [phone], [email], [organization], [birth_date], [passport_series], [passport_number], [photo_path]) VALUES (2, N'Смирнова', N'Елена', N'Игоревна', N'+7 (916) 987-65-43', N'elena@example.ru', N'АО "Инфосистемы"', CAST(N'1988-11-22' AS Date), N'6712', N'987654', NULL)
INSERT [dbo].[visitors] ([visitor_id], [last_name], [first_name], [middle_name], [phone], [email], [organization], [birth_date], [passport_series], [passport_number], [photo_path]) VALUES (3, N'Васильев', N'Андрей', N'Николаевич', N'+7 (903) 111-22-33', N'andrey@example.org', NULL, CAST(N'1995-03-10' AS Date), N'3421', N'556677', NULL)
SET IDENTITY_INSERT [dbo].[visitors] OFF
GO
SET IDENTITY_INSERT [dbo].[visitrequests] ON 

INSERT [dbo].[visitrequests] ([request_id], [user_id], [type], [start_date], [end_date], [purpose], [department_id], [employee_id], [status], [rejection_reason], [created_at]) VALUES (1, 1, N'personal', CAST(N'2026-04-16' AS Date), CAST(N'2026-04-17' AS Date), N'Технический аудит', 1, 1, N'одобрена', NULL, CAST(N'2026-04-15T13:25:49.120' AS DateTime))
INSERT [dbo].[visitrequests] ([request_id], [user_id], [type], [start_date], [end_date], [purpose], [department_id], [employee_id], [status], [rejection_reason], [created_at]) VALUES (2, 2, N'group', CAST(N'2026-04-18' AS Date), CAST(N'2026-04-20' AS Date), N'Экскурсия для партнеров', 2, 2, N'проверка', NULL, CAST(N'2026-04-15T13:25:49.120' AS DateTime))
INSERT [dbo].[visitrequests] ([request_id], [user_id], [type], [start_date], [end_date], [purpose], [department_id], [employee_id], [status], [rejection_reason], [created_at]) VALUES (3, 1, N'personal', CAST(N'2026-04-25' AS Date), CAST(N'2026-04-27' AS Date), N'Совещание по безопасности', 3, 3, N'не одобрена', N'Не предоставлен скан паспорта', CAST(N'2026-04-15T13:25:49.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[visitrequests] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616420CB3097]    Script Date: 15.04.2026 13:27:20 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [registration_date]
GO
ALTER TABLE [dbo].[visitrequests] ADD  DEFAULT ('проверка') FOR [status]
GO
ALTER TABLE [dbo].[visitrequests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[attachments]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[visitrequests] ([request_id])
GO
ALTER TABLE [dbo].[attachments]  WITH CHECK ADD FOREIGN KEY([visitor_id])
REFERENCES [dbo].[visitors] ([visitor_id])
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[visitorrequestlink]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[visitrequests] ([request_id])
GO
ALTER TABLE [dbo].[visitorrequestlink]  WITH CHECK ADD FOREIGN KEY([visitor_id])
REFERENCES [dbo].[visitors] ([visitor_id])
GO
ALTER TABLE [dbo].[visitrequests]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[visitrequests]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[visitrequests]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
USE [master]
GO
